:root { 
    --primary-color: #5994d4;
    --secondary-color: #ffffff;
    --accent1-color: #989997;
    --accent2-color: #5abce6;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: var(--accent2-color);
    position: absolute;
}
.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: var(--accent2-color);
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--accent1-color);
}
sociallinks {
    text-decoration: none;
    justify-content: flex-end;
}
figure {
    border: var(--accent2-color);
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
footer img {
    max-width: 220px;
    max-height: 150px;
}
h2 {
	display: flex;
	justify-content: center;
}
section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
figcaption {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    font: italic small-caps bold Georgia, serif;
    padding: 3px;
    text-align: center;
}
.hero-image {
    display: block;
    width: 100%;
    height: auto;
}
.hero-text {
	align-content: center;
	flex-direction: row;
	margin: 1em auto;
	border: 1px solid var(--primary-color);
	padding: 1em;
	background-color: var(--accent2-color);
	width: min(600px, 100%);
	font-size: 1.2rem;
    opacity: 100%;
}
article img {
		float: right;
}