:root { 
    --primary-color: #5994d4;
    --secondary-color: #ffffff;
    --accent1-color: #989997;
    --accent2-color: #5abce6;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: var(--accent2-color);
    position: absolute;
}
p {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: var(--accent1-color);
}
sociallinks {
    text-decoration: none;
}
footer img {
    width: 200px;
    height: auto;
}
article {
    width: 150px;
    height: auto;
    border: 1px var(--primary-color);
    padding: 2px;
    box-shadow: 20;
    position: absolute;
    background-color: var(--accent2-color);
    opacity: 60%;
}
article img {
    float: right;
}
div {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}